<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Bảng thống kê khách hàng</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên</th>
                        <th>Tên đăng nhập</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>

                <tbody>
                    
                    <% for( user of users ) {%>
                    <tr>
                        <%- listUser(user) %>
                        <td>
                            <button type="button" class="btn btn-primary">Xem chi tiết</button>
                            <a href="/user/<%= user.id %>"><button type="button" class="btn btn-success">Chỉnh sửa</button></a>
                            <button type="button" class="btn btn-danger">Xoá</button>
                        </td>
                    </tr>
                    <% } %>
                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Đã cập nhật dữ liệu vào lúc 11:59 PM</div>
</div>