<!-- Page Content -->
<div class="row">
    <div class="col-sm-12 my-auto">
        <div class="w-25 mx-auto text-center bg-dark text-light">
            <h1 class="display-1">404</h1>
            <p class="lead">Không tìm thấy trang <br>
                <a href="javascript:history.back()">quay lại trang trước đó</a>
                <br>
                <a href="/">quay lại trang chủ</a></p>
        </div>
    </div>
</div>