<!-- Page Content -->
<h1 class="display-1">404</h1>
<p class="lead">Không tìm thấy trang, bạn có thể
    <a href="javascript:history.back()">quay lại</a>
    trang trước đó hoặc
    <a href="/">quay lại trang chủ</a>.</p>