<!-- Area Chart Example-->
<% include ../partials/basic-chart %>

<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Số lượng tài khoản được đăng kí</div>
            <div class="card-body">
                <canvas id="myBarChart" width="100%" height="50"></canvas>
            </div>
            <div class="card-footer small text-muted">Đã cập nhật dữ liệu vào lúc 11:59 PM</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Thống kê các quý trong năm</div>
            <div class="card-body">
                <canvas id="myPieChart" width="100%" height="100"></canvas>
            </div>
            <div class="card-footer small text-muted">Đã cập nhật dữ liệu vào lúc 11:59 PM</div>
        </div>
    </div>
</div>

<p class="small text-center text-muted my-5">
    <em>Các thống kê khác sắp có...</em>
</p>

<!-- Demo scripts for this page-->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-bar-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>