<% include ../partials/data-user %>
<p class="small text-center text-muted my-5">
    <em>Các thống kê khác sắp có...</em>
</p>
<!-- Demo scripts for this page-->
<script src="js/demo/datatables-demo.js"></script>