<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Bảng thống kê hàng hóa</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên hàng hóa</th>
                        <th>Thể loại hàng hóa</th>
                        <th>Nguồn gốc hàng</th>
                        <th>Số lượng</th>
                        <th>Ngày nhập kho</th>
                        <th>Tổng giá trị sản phẩm</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>Loa bluetooth HCX đời 2017</td>
                        <td>Loa và tai nghe</td>
                        <td>TP Hồ Chí Minh</td>
                        <td>63</td>
                        <td>2018/01/04</td>
                        <td>$125,250</td>
                    </tr>
                    <tr>
                        <td>Mac Book Pro 2000</td>
                        <td>Laptop và máy tính</td>
                        <td>Châu Phi</td>
                        <td>56</td>
                        <td>2012/06/01</td>
                        <td>$115,000</td>
                    </tr>
                    <tr>
                        <td>Tai nghe không dây Airpod</td>
                        <td>Loa và tai nghe</td>
                        <td>Thanh Hóa</td>
                        <td>43</td>
                        <td>2013/02/01</td>
                        <td>$75,650</td>
                    </tr>
                    <tr>
                        <td>Laptop gaming MSI</td>
                        <td>Laptop và máy tính</td>
                        <td>TP Hồ Chí Minh</td>
                        <td>46</td>
                        <td>2019/12/06</td>
                        <td>$145,600</td>
                    </tr>
                    <tr>
                        <td>Tai nghe chụp tai DrDre</td>
                        <td>Loa và tai nghe</td>
                        <td>Hà Nội</td>
                        <td>47</td>
                        <td>2019/03/21</td>
                        <td>$356,250</td>
                    </tr>
                    <tr>
                        <td>RAM Laptop 32Mb</td>
                        <td>Phần cứng</td>
                        <td>Hà Nội</td>
                        <td>21</td>
                        <td>2017/02/27</td>
                        <td>$103,500</td>
                    </tr>
                    <tr>
                        <td>Loa máy tính xịn đời 2000</td>
                        <td>Loa và tai nghe</td>
                        <td>Châu Phi</td>
                        <td>30</td>
                        <td>2018/07/14</td>
                        <td>$86,500</td>
                    </tr>
                    <tr>
                        <td>Dép tổ ong</td>
                        <td>Khác</td>
                        <td>Thanh Hóa</td>
                        <td>51</td>
                        <td>2018/11/13</td>
                        <td>$183,000</td>
                    </tr>
                    <tr>
                        <td>Card màn hình MSI 2070Ti</td>
                        <td>Card màn hình</td>
                        <td>Singapore</td>
                        <td>29</td>
                        <td>2019/06/27</td>
                        <td>$183,000</td>
                    </tr>
                    <tr>
                        <td>RAM máy tính 64Gb</td>
                        <td>Phần cứng</td>
                        <td>TP Hồ Chí Minh</td>
                        <td>27</td>
                        <td>2019/01/25</td>
                        <td>$112,000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Đã cập nhật dữ liệu vào lúc 11:59 PM</div>
</div>
<!-- Demo scripts for this page-->
<script src="js/demo/datatables-demo.js"></script>