<div class="row">

    <div class="col-xl-8 col-lg-7">

        <!-- Area Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thống kê theo tháng</h6>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
                <hr>
                Thống kê doanh thu theo tháng và tính bằng tiền Đô la Mỹ
            </div>
        </div>

        <!-- Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thống kê theo ngày</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myBarChart"></canvas>
                </div>
                <hr>
                Thống kê doanh thu theo ngày và tính bằng tiền Đô la Mỹ
            </div>
        </div>

    </div>

    <!-- Donut Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Thống kê theo quý</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="myPieChart"></canvas>
                </div>
                <hr>
                Thống kê doanh thu theo quý và tính bằng tiền Đô la Mỹ
            </div>
        </div>
    </div>
</div>
<!-- Page level custom scripts -->
<script src="js/demo2/chart-area-demo.js"></script>
<script src="js/demo2/chart-pie-demo.js"></script>
<script src="js/demo2/chart-bar-demo.js"></script>