<div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="sparkline12-list">
            <div class="sparkline12-hd text-center">
                <div class="main-sparkline12-hd">
                    <h1>Thêm sản phẩm</h1>
                </div>
            </div>
            <div class="sparkline12-graph">
                <div class="basic-login-form-ad">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="all-form-element-inner">
                                <form action="#">
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-right">
                                                <label class="login2 pull-right pull-right-pro">Tên sản phẩm</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Tên sản phẩm" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-right">
                                                <label class="login2 pull-right pull-right-pro">Mô tả sản phẩm</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control"
                                                    placeholder="Viết mô tả ngắn cho sản phẩm" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-right">
                                                <label class="login2 pull-right pull-right-pro">Giá tiền</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Nhập giá tiền" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-right">
                                                <label class="login2 pull-right pull-right-pro">Số lượng hàng</label>
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Nhập số lượng" />
                                            </div>
                                        </div>
                                    </div>

                                    <%- viewData.helper(viewData.metadata) %>
                                
                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-right">
                                                <label class="login2 pull-right pull-right-pro">Tải hình sản
                                                    phẩm</label>
                                            </div>
                                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                <div class="file-upload-inner ts-forms">
                                                    <div class="input prepend-big-btn">
                                                        <label class="icon-right" for="prepend-big-btn">
                                                            <i class="fa fa-download"></i>
                                                        </label>
                                                        <div class="file-button">
                                                            Browse
                                                            <input type="file"
                                                                onchange="document.getElementById('prepend-big-btn').value = this.value;">
                                                        </div>
                                                        <input type="text" id="prepend-big-btn"
                                                            placeholder="no file selected">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 text-right">
                                                <label class="login2 pull-right pull-right-pro">Tải hình thêm (tuỳ
                                                    chọn)</label>
                                            </div>
                                            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                                <div class="file-upload-inner ts-forms">
                                                    <div class="input prepend-big-btn">
                                                        <label class="icon-right" for="prepend-big-btn">
                                                            <i class="fa fa-download"></i>
                                                        </label>
                                                        <div class="file-button">
                                                            Browse
                                                            <input type="file"
                                                                onchange="document.getElementById('prepend-big-btn').value = this.value;">
                                                        </div>
                                                        <input type="text" id="prepend-big-btn"
                                                            placeholder="no file selected">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group-inner text-right">
                                        <div class="login-btn-inner">
                                            <div class="row">
                                                <div class="col-lg-3"></div>
                                                <div class="col-lg-9">
                                                    <div class="login-horizental cancel-wp pull-left form-bc-ele">
                                                        <button class="btn btn-sm btn-danger" type="submit">Tạo lại</button>
                                                        <button class="btn btn-sm btn-primary login-submit-cs"
                                                            type="submit">Thêm sản phẩm</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<link rel="stylesheet" href="/layout_products/owl.carousel.css">
<link rel="stylesheet" href="/layout_products/owl.theme.css">
<link rel="stylesheet" href="/layout_products/owl.transitions.css">
<!-- animate CSS  -->
<link rel="stylesheet" href="/layout_products/animate.css">

<!-- normalize CSS -->
<link rel="stylesheet" href="/layout_products/normalize.css">

<!-- meanmenu icon CSS -->
<link rel="stylesheet" href="/layout_products/meanmenu.min.css">

<!-- main CSS -->
<link rel="stylesheet" href="/layout_products/main.css">

<!-- educate icon CSS -->
<link rel="stylesheet" href="/layout_products/educate-custon-icon.css">

<!-- morrisjs CSS -->
<link rel="stylesheet" href="/layout_products/morrisjs/morris.css">

<!-- forms CSS -->
<link rel="stylesheet" href="/layout_products/form/all-type-forms.css">

<!-- style CSS -->
<link rel="stylesheet" href="/layout_products/form/form.css">

<!-- responsive CSS -->
<link rel="stylesheet" href="/layout_products/responsive.css">