<link rel="stylesheet" href="/css/css_pages/table.css">
<!-- DataTables Example -->
<div class="card mb-3" id="quan-table">
    <div class="card-header border-0 py-2 rounded-top">
        <div class="d-flex align-items-center py-1">
            <h3 class="m-0 h5 font-weight-normal text-white w-50">Thống kê quản trị viên</h3>
            <div class="w-50 text-right">
                <a href="/admin/add"><button class="btn btn-sm btn-outline-light">Thêm quản lý</button></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên đăng nhập</th>
                        <th>Họ tên</th>
                        <th>Trạng thái</th>
                        <th>Vai trò</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>

                <tbody>

                    <% for( admin of admins ) {%>
                    <tr>
                        <%- listAdmin(admin) %>
                        <td>
                            <a href="#"><i class="fas fa-address-card text-info"></i></i></a>
                            <a href="/admin/detail/<%= admin.id %>"><i class="fas fa-tools text-warning"></i></a>
                            <i class="fas fa-trash-alt text-danger"></i>
                        </td>
                    </tr>
                    <% } %>

                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Đã cập nhật dữ liệu vào lúc 11:59 PM</div>
</div>

<!-- Table scripts for this page-->
<script src="/js/demo/datatables-demo.js"></script>